# Compress output of all text file types:
AddOutputFilterByType DEFLATE text/plain text/html text/css text/javascript application/x-javascript application/javascript application/rss+xml application/atom+xml application/xml text/xml
# Compress font file types
AddOutputFilter DEFLATE woff svg eot ttf properties

# Add far future expires to static file types:
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
	# Header set Expires "Thu, 15 Apr 2050 20:00:00 GMT"
	# FileETag All
</FilesMatch>

# Define error documents (for odd cases where Biscuit doesn't handle it):
ErrorDocument 400 /index.php?page_slug=error400
ErrorDocument 403 /index.php?page_slug=error403
ErrorDocument 404 /index.php?page_slug=error404

# php_flag session.use_trans_sid off
# Uncomment the following lines and adjust appropriately if you need to override your server's default max file upload and POST data sizes:
# php_value upload_max_filesize 100M
# php_value post_max_size 102M

Options +FollowSymlinks

RewriteEngine On

# Remove "www" prefix if used
RewriteCond %{HTTP_HOST} ^www\.yourdomain\.com$
RewriteRule ^(.*)$ http://yourdomain.com/$1 [L,R=301]

# Cause requests for Messages files that will never exist to send a 410 Gone response
RewriteRule Messages(_[a-z]{2})?\.properties - [G,L]

# Shortcut to error 500 page
RewriteRule ^error500$ /framework/views/error500.php [L]

# Route all other requests to Biscuit:
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.php [QSA]
